USE [master]
GO
/****** Object:  Database [Session2-1]    Script Date: 4/6/2021 1:48:08 AM ******/
CREATE DATABASE [Session2-1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session2-1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session2-1]
GO
/****** Object:  Table [dbo].[Boat]    Script Date: 4/6/2021 1:48:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boat](
	[Boat_name] [varchar](50) NOT NULL,
	[Boat_color] [varchar](20) NOT NULL,
	[Boat_rank] [varchar](30) NOT NULL,
 CONSTRAINT [PK_BOAT] PRIMARY KEY CLUSTERED 
(
	[Boat_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserve]    Script Date: 4/6/2021 1:48:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve](
	[Sailor_name] [varchar](50) NOT NULL,
	[Boat_name] [varchar](50) NOT NULL,
	[Weekday] [varchar](20) NOT NULL,
 CONSTRAINT [PK_RESERVE] PRIMARY KEY CLUSTERED 
(
	[Sailor_name] ASC,
	[Boat_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[q2_view]    Script Date: 4/6/2021 1:48:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[q2_view] AS
SELECT Boat.Boat_name, Sailor_name, Boat_color
FROM Boat INNER JOIN Reserve 
ON Boat.Boat_name = Reserve.Boat_name;
GO
/****** Object:  Table [dbo].[Sailor]    Script Date: 4/6/2021 1:48:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sailor](
	[Sailor_name] [varchar](50) NOT NULL,
	[Sailor_rank] [int] IDENTITY(300,1) NOT NULL,
 CONSTRAINT [PK_SAILOR] PRIMARY KEY CLUSTERED 
(
	[Sailor_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Boat_Reserve_FK]    Script Date: 4/6/2021 1:48:09 AM ******/
CREATE NONCLUSTERED INDEX [Boat_Reserve_FK] ON [dbo].[Reserve]
(
	[Boat_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Sailor_Reserve_FK]    Script Date: 4/6/2021 1:48:09 AM ******/
CREATE NONCLUSTERED INDEX [Sailor_Reserve_FK] ON [dbo].[Reserve]
(
	[Sailor_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [RESERVE_BOAT] FOREIGN KEY([Boat_name])
REFERENCES [dbo].[Boat] ([Boat_name])
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [RESERVE_BOAT]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [RESERVE_SAILOR] FOREIGN KEY([Sailor_name])
REFERENCES [dbo].[Sailor] ([Sailor_name])
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [RESERVE_SAILOR]
GO
ALTER TABLE [dbo].[Boat]  WITH CHECK ADD  CONSTRAINT [CK_Boat_MAX] CHECK  (([Boat_rank]<=(150)))
GO
ALTER TABLE [dbo].[Boat] CHECK CONSTRAINT [CK_Boat_MAX]
GO
ALTER TABLE [dbo].[Boat]  WITH CHECK ADD  CONSTRAINT [CK_Boat_MIN] CHECK  (([Boat_rank]>=(70)))
GO
ALTER TABLE [dbo].[Boat] CHECK CONSTRAINT [CK_Boat_MIN]
GO
USE [master]
GO
