USE [master]
GO
/****** Object:  Database [Session3-1]    Script Date: 4/12/2021 6:23:29 PM ******/
CREATE DATABASE [Session3-1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session3-1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session3-1]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 4/12/2021 6:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[P_Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[Address] [varchar](150) NOT NULL,
	[City] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
