USE [master]
GO
/****** Object:  Database [Session2-2]    Script Date: 4/6/2021 2:26:05 AM ******/
CREATE DATABASE [Session2-2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session2-2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session2-2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session2-2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session2-2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session2-2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session2-2]
GO
/****** Object:  Table [dbo].[Dept]    Script Date: 4/6/2021 2:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept](
	[DeptNo] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Dept] PRIMARY KEY CLUSTERED 
(
	[DeptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 4/6/2021 2:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[Emp_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
	[DeptNo] [int] NOT NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[Emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prj]    Script Date: 4/6/2021 2:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prj](
	[Prj_id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_id] [int] NOT NULL,
	[PrjDef_id] [int] NOT NULL,
	[duration] [int] NOT NULL,
 CONSTRAINT [PK_Prj] PRIMARY KEY CLUSTERED 
(
	[Prj_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrjDef]    Script Date: 4/6/2021 2:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrjDef](
	[PrjDef_id] [int] IDENTITY(1,1) NOT NULL,
	[Prj_Name] [varchar](50) NOT NULL,
	[profit] [float] NOT NULL,
	[deadline] [date] NOT NULL,
 CONSTRAINT [PK_PrjDef] PRIMARY KEY CLUSTERED 
(
	[PrjDef_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emp]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Dept] FOREIGN KEY([DeptNo])
REFERENCES [dbo].[Dept] ([DeptNo])
GO
ALTER TABLE [dbo].[Emp] CHECK CONSTRAINT [FK_Emp_Dept]
GO
ALTER TABLE [dbo].[Prj]  WITH CHECK ADD  CONSTRAINT [FK_Prj_Emp] FOREIGN KEY([Emp_id])
REFERENCES [dbo].[Emp] ([Emp_id])
GO
ALTER TABLE [dbo].[Prj] CHECK CONSTRAINT [FK_Prj_Emp]
GO
ALTER TABLE [dbo].[Prj]  WITH CHECK ADD  CONSTRAINT [FK_Prj_PrjDef] FOREIGN KEY([PrjDef_id])
REFERENCES [dbo].[PrjDef] ([PrjDef_id])
GO
ALTER TABLE [dbo].[Prj] CHECK CONSTRAINT [FK_Prj_PrjDef]
GO
USE [master]
GO
