USE [master]
GO
/****** Object:  Database [Session-5]    Script Date: 5/5/2021 9:25:56 PM ******/
CREATE DATABASE [Session-5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session-5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session-5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session-5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Session-5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session-5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session-5]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/5/2021 9:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bookname] [varchar](30) NULL,
	[yearpublish] [int] NULL,
	[authorname] [varchar](40) NULL,
	[QTY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Audit]    Script Date: 5/5/2021 9:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Audit](
	[ID] [int] NULL,
	[Bookname] [varchar](30) NULL,
	[yearpublish] [int] NULL,
	[authorname] [varchar](40) NULL,
	[QTY] [int] NULL,
	[Ins_or_del] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
